@font-face {
    font-family: icon-font;
    src: url(../fonts/sso-icon.eot);
    src: url(../fonts/sso-icon.eot?#iefix) format('embedded-opentype'),
    url(../fonts/sso-icon.woff) format('woff'),
    url(../fonts/sso-icon.ttf) format('truetype'),
    url(../fonts/sso-icon.svg#icon-font) format('svg');
}
.icon-font {
    font-family: icon-font!important;
    font-size: 22px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

input,.input-group-addon,button{
    border-radius: 0!important;
}

nav .container {
    width:990px!important;
}

.wrap > .container {
    width: 100%;
    min-width: 1100px;
    padding: 20px 0;
}

.login-wrap .inner{
    position: relative;
    width: 1100px;
    height: 600px;
    margin: 0 auto;
}

.login-ad {
    display: block;
    position: absolute;
    top: 80px;
    left: 40px;
    width: 500px;
    height: 440px;
    border: none;
    outline: none;
}

.login-wrap .form{
    position: absolute;
    top:90px;
    right: 60px;
    width: 400px;
    background: #FFF;
    padding: 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.login-message{
    line-height: 16px;
    padding: 6px 10px;
    overflow: hidden;
    background: rgb(254, 242, 242);
    margin: 0 0 10px;

}
.login-message p{
    margin: 0 0 0 27px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
}
.login-message .icon-font{
    color: #D64848;
    padding-right: 10px;
    float: left;
    font-size: 16px;

}

.radio, .checkbox{
    margin-top: 0;
}

/*
.form-group-lg input{
    font-size: 14px!important;
}*/
