p {
    margin: 0 0 5px 0;
}

.ie8-warning-mask {
    height: 60px;
}

#ie8-warning {
    width: 100%;
    background: #ffffe1;
    padding: 10px 0;
    font-size: 12px;
    z-index: 9999999999;
    position: fixed;
    top:0;
}

#ie8-warning p {
    width: 960px;
    margin: 0 auto;
}
@media (max-width: 640px) {
    .portlet.light{padding: 12px 0;
    }
}
.navbar-nav > li.nav-item > a{line-height: 26px;color: white;}
.navbar-nav > li.nav-item > a:hover{line-height: 26px;color: black;}
@media (min-width: 768px){
    .navbar-nav > li.nav-item > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}